{% extends 'base.html' %}

{% load static %}

{% block content %}
        <header>
            <!-- header inner -->
            <div class="header">
               <div class="container-fluid">
                  <div class="row">
                     <div class="col-md-4 col-sm-4">
                        <div class="logo">
                           <a href="{% url 'home' %}"><img class="logo_img" src="{% static 'images/logo_sams.png' %}" alt="#" /></a>
                        </div>
                     </div>
                     <div class="col-md-8 col-sm-8">
                        <div class="right_bottun">
                           <ul class="conat_info d_none ">
                              <li><a href="{% url 'createuser' %}"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                           </ul> 
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </header>
         <!-- contact section -->
      <div id="contact" class="contact">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Plataforma Sams Club</h2>
                     <p>Bienvenido a la plataforma de gestion de servicios de Sam's</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="con_bg">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-md-5">
                    <form action = "" method = "post">
                        {% csrf_token %}
                        <table>
                            <tr> 
                                <td style="font-size: 15px; font-family: sans-serif" >Username</td>
                                <td> {{form.username}} </td>
                            </tr>
                            <tr> 
                                <td style="font-size: 15px; font-family: sans-serif" >Password</td>
                                <td> {{form.password}} </td>
                            </tr>
                        </table>
                    <br>
                           <div class="col-md-12">
                              <button class="send_btn">Entrar</button>
                           </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
         <br>
      </div>
      <!-- end contact section -->
{% endblock %}
    