<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Products | Home </title>
</head>
<body>
    <h1 style="font-size: 20px; font-family: sans-serif; color:navy;">Product List</h1>
    <h2 style="font-size: 20px; font-family: sans-serif; color:navy;"> Listado de Productos </h2>
    {% if empty_product %}
    <h3 style="font-size: 20px; font-family: sans-serif; color:rgb(255, 4, 4);"> no hay producto</h3>
    {%  else  %}
    <table>
        <tr>
            <th style = "font-family: sans-serif;" > Nombre Producto </th>
            <th style = "font-family: sans-serif;" > Tamaño </th>
            <th style = "font-family: sans-serif;" > Color </th>
            <th style = "font-family: sans-serif;" > SKU </th>
            <th style = "font-family: sans-serif;" > Proveedor </th>
        </tr>
        {% for product in product_list %}
        <tr>
            <td> {{product.product_name}} </td>
            <td> {{product.product_size}} </td>
            <td> {{product.product_color}} </td>  
            <td> {{product.product_sku}} </td>
            <td> {{product.vendor}} </td>
        </tr>
        {% endfor %}
    </table>
    {%  endif  %}

    <br>
    <h2 style="font-size: 20px; font-family: sans-serif; color:navy;"> Crear un Producto </h2>

    <form action = "" method = "post">
        {% csrf_token %}
        <table>
            <tr> 
                <td style="font-size: 15px; font-family: sans-serif" >Nombre del producto</td>
                <td> {{product_form.product_name}} </td>
            </tr>
            <tr> 
                <td style="font-size: 15px; font-family: sans-serif" >tamaño del producto</td>
                <td> {{product_form.product_size}} </td>
            </tr>
            <tr> 
                <td style="font-size: 15px; font-family: sans-serif" >color del producto</td>
                <td> {{product_form.product_color}} </td>
            </tr>
            <tr> 
                <td style="font-size: 15px; font-family: sans-serif" >SKU del producto</td>
                <td> {{product_form.product_sku}} </td>
            </tr>
            <tr> 
                <td style="font-size: 15px; font-family: sans-serif" >proveedor del producto</td>
                <td> {{product_form.vendor}} </td>
            </tr>
        </table>
        <br>
        <br>
        <button type = "submit">Crear Producto</button>
    </form>
      
 </body>
</html>